$gold: #dfb42c;
$dark_black: #040f00;
$light_grey: #b1b0b0;
$dark_grey: #5E5E5E;
$warning: #cc3333;
$success: #33cc33;
$future_orange:#f96623;
$future_dark_grey:#191919;
$future_light_grey:#2e2e30;

@mixin button {
  @include rounded_corners;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD757), to(#FA2));
/*  background: -moz-linear-gradient(top, #FFEC64, #FFB027);
*/  border: 1px solid #FA2;
  font-weight: bold;
  cursor:pointer;
  padding:5px 10px;
  display:block;
  color: $dark_black;
  text-decoration:none;
  text-align:center;
}

@mixin rounded_corners{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

@font-face {
	font-family: 'Orbitron';
	src: url('../fonts/orbitron/orbitron-bold.eot');
	src: url(//:) format('no404'), url('../fonts/orbitron/orbitron-bold.woff') format('woff'), url('../fonts/orbitron/orbitron-bold.ttf') format('truetype');
}

* {
  margin:0;
  padding:0;
}

body {
  background:#000000;
  color:white;
  padding:10px 15px 44px 15px;
  font-size:100%;
  font-family:"Helvetia Neue", sans-serif;
  width:500px;
}

h1 {
  font: bold 2.4em Orbitron, Arial, sans-serif;
  background: url('../img/header-logo.png') no-repeat;
  display:block;
  width:65px;
  height:40px;
  letter-spacing:1px;
  padding:11px 0 0 70px;
  font-size:150%;
  margin-bottom:5px;
}

.hide {
  display:none;
}

.button {
  @include button;
  @include rounded_corners;
  font-size:1.2em;
  display:block;
}

.button:hover{
  border:1px solid white;
}

#text {
  @include rounded_corners;
  position:relative;
  z-index:0;
  border:1px solid $gold;
  width:98%;
  height:200px;
  padding:5px;
  font-size:120%;
  overflow:auto;
}

#toolbar {
  margin-top:6px;
}

#createNeuron {
  float:left;
  margin-right:5px;
  width:150px;
  border:1px solid $gold;
}

#createNeuron:hover {
  border:1px solid white;
}

#cancel {
  border:1px solid $warning;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f35859), to(#c23b3c));
  float:left;
}

#cancel:hover {
  border:1px solid white;
}

#url {
  visibility:hidden;
}

#progress {
  @include rounded_corners;
  position:absolute;
  top:24px;
  right:40px;
  width:200px;
  height:20px;
}

/* Login Form */

#login-form {
  top:20px;
  width:500px;
  float:left;
  padding-bottom:10px;
  margin-left:8px;
  margin-top:10px;
}

#login-form .form-field {
  float:left;
  margin-right:11px;
  margin-bottom:10px;
}

#login-form label {
  display:block;
  margin-bottom:2px;
  font-size:100%;
}

#login-form input {
  padding:5px;
  display:block;
  width:225px;
  height:20px;
  font-size:100%;
}  

#login-button {
  font-size:110% !important;
}

.photo {
  list-style-type:none;
  border:1px solid red;
  width:100px;
  height:100px;
  overflow:hidden;
  float:left;
}


